<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isak Tech Portal - {{.Title}}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&family=Roboto&display=swap">
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/footer.css">

</head>
<body>
    <main>
        <div class="main-content">
            {{embed}}
        </div>

    </main>
  

    <script src="http://localhost:8080/bundle.js"></script>
    <!-- <script src="/public/js/dist/bundle.js"></script> -->
    <script>fetch("https://paste.isak-tech.tk/analytics/create",{method:"POST",body:JSON.stringify({href:window.location.href}),headers:{"Content-Type":"Application/Json"}}).then(t=>t.json()).then(t=>console.log(t));</script>
</body>
</html>